{% extends 'base.html' %}
{% load static %}
{% block title %}Slander | Артисты{% endblock %}
{% block content %}
{% include 'include/header.html' %}

<div class="row">
    <div class="col-sm-6">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <p>{% if error_message %}
                    {{ error_message }}
                {% endif %}</p>
                {% for field in form %}
                <div class="form-group">
                    <h1>{{ field.label_tag}}</h1>
                    {{ field }}
                </div>
                {% endfor %}
                {% for field in img_form %}
                <div class="form-group">
                    <h1>{{ field.label_tag}}</h1>
                    {{ field }}
                </div> 
                {% endfor %}
            </div> 
            <h5>{{ img_form.errors }}</h5>
            <input type="submit" value="Сохранить" class="w-25 btn btn-primary" enctype="multipart/form-data"></form>
    </div>
</div>
{% endblock %}